body{
  background-color:gray;
  padding-top:30px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
}
h1{
  color:black;
  text-align: center;
  text-shadow:-20px -15px 7px purple;
  font-family: inherit;
  font-size: 300%
}
.author{
  color: purple;
  font-size: 100%;
  text-align: right;
  font-size: "monotype corsiva";
  font-style: italic;
}
p.intro::first-letter{
  font-style: normal;
  font-size: 300%;
  color:purple;
}
p.intro{
  font-style: normal;
  font-size-adjust: 50px;
}
.img1{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 40px;
  margin-left: 10px;
  border:inset black 10px;
  width: 350px;
  height:250px;
}
.img2{
margin-top: 10px;
margin-bottom: 10px;
margin-left: 40px;
margin-right: 40px;
border:inset black 10px;
width:350px;
height:250px;
}
.img3{
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 40px;
  margin-right: 5px;
  border: inset black 10px;
  width:300px;
  height:200;
}
.figcaption{
  font-size: 10px;
  text-align: left;
  color:purple
}
.footer{
  font-size: 1em;
  color:black;
  text-align: center;
}
